:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;



  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-bg:#2C3333;
  --second-bg : #4649FF;
  --txt-white: rgba(255, 255, 255, 0.87);
  --main-color: rgba(255, 255, 255, 0.87);
  --second-color:#4649FF;


}

*{
  margin: 0;
  padding: 0;
}